/*Font Styles*/
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
/*
	Page Background Color : #fefefe;
	Page Link Color : #1d9fe9;
	Page Link Hover : #1988c8;
	Header Description : #5a5a5a;
	Header Border : #e5e9eb;
	Header Number Background : #1d9fea;
	Top Content Background : #1fa2ed;
	Top Content Headline : #fffffd;
	Top Content Sub-Headline : #fffffe;
	Button Background : #ffcc01;
	Button Hover : #f1c207;
	Button Link Color : #fcfcfc;
	Button Text Shadow : #e4b600;
	Facebook Headline : #0880c5;
	Bottom Content Security Text : #fbfbfb;
	Footer Background : #2d2d2d;
	Footer Text : #b7b7b7;
	Footer Text Hover : #1ba6f6;
	Footer Social Media Links : #606060;
	Footer Social Media Links Hover : #24aaf7;
*/

/*Default Page Styles*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fefefe;
	font-family: 'Noto Sans', Arial, helvetica, sans-serif;
	font-weight: 400;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}
html {
	margin: 0;
	padding: 0;
	height: 100%;
}
h1, h2, h3, p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin: 0 auto;
	max-width: 95%;
}
p {
	color: #565656;
	font-size: 20px;
	line-height: 30px;
}
a, a:link, a:visited {
	color: #1d9fe9;
	font-size: 18px;
	line-height: 18px;
	text-decoration: none;
}
a:hover {
	color: #1988c8;
}

/*Header Styles*/
header {
	margin: 0 auto;
	padding: 20px 0px;
	text-align: center;
	width: 100%;
}
header .header-wrapper {
	margin: 0 auto;
	text-align: center;
	width: 80%;
}
header .logo {
	display: inline-block;
	max-width: 200px;
	padding-top: 10px;
	vertical-align: top;
}
header .logo img {
	max-height: 75px;
	max-width: 200px;
}
header .desc-wrapper {
	border: solid 6px #e5e9eb;
	display: inline-block;
	margin-left: 30px;
	max-width: 450px;
	min-width: 500px;
	padding: 10px 20px;
}
header .num {
	background: #1d9fea;
	color: #fff;
	font-size: 26px;
	padding: 3px 7px;
}
.headline{
	color: #777777;
	font-size: 22px;
	font-weight: 700;
	line-height: 40px;
	min-width: 100%;
	padding: 0px;
	text-align: center;
}
.headline b{
	color: #0880c5;
	font-size: 18px;
	font-weight: 700;
	word-spacing: 5px;
}

/*Top Content Section*/
.top-content {
	background: url('../img/grid-pattern.png') #1fa2ed no-repeat bottom left;
	background-size: 100%;
	display: block;
	float: left;
	height: auto;
	min-height: 350px;
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
	width: 100%;
}
.top-content .top-content-wrapper {
	padding-top: 12px;
	margin: 0 auto;
	max-width: 750px;
	width: 90%;
}
.complete-line { 
	background-color: #0880c5;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	margin: 0 auto; 
	margin: 20px 0px 40px;
	overflow: hidden; 
	position:relative;  
	width: 100%;  
}
.complete-line .progress-bar { 
	background-color: #FEC210;
	border-radius: 25px;
	height: 22px; 
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-webkit-transition: width 0.6s ease;
	-moz-transition: width 0.6s ease;
	-o-transition: width 0.6s ease;
	transition: width 0.6s ease;  
}
.complete-line span { 
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	color: #fff;
	display:block; 
	float: left;
	font-size: 12px; 
	font-weight: 700;
	line-height: 23px;
	width: 100%;
	height: 22px;
	text-align: center;	
}
.top-content-wrapper h1 {
	color: #fffffd;
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	padding-bottom: 21px;
}
.top-content .top-content-wrapper p {
	color: #fffffe;
	font-weight: 400;
}

/*Social Media Test*/
.icons {width: 70px; float:left; margin-left: -80px; height: 190px; padding:41px 0 0 0;}
.icons ul {margin:0px; padding:0px; list-style:none;}
.icons ul li {margin-bottom: 4px;}
.icons ul li a { border:0px; display:inline-block; border:0px; text-decoration:none; padding:0px; margin:0px}
.icons ul li a:hover {opacity:.8;}
.icons ul li img {margin-top:2px; width: 30px; height: 30px;}
.icon-facebook { background: #3c5a99; width: 70px;}
.icon-twitter { background:#fff; width: 70px;}
.icon-gplus {background:#db402b; width: 70px;}

/*Social Plugin CSS*/
.facebook .facebook-area {width:100%;}
.facebook .text-box {background-color:#fe8134; padding:28px 32px; font-size:18px; font-weight:400; line-height:24px; color:#FFF9F9;}
.facebook .text-box a {font-weight:700; text-decoration:underline; color:#FFFAFA;}
.facebook .text-box a:hover {text-decoration:none;} 
.facebook .text-box-bottom {padding:28px 32px; display:inline-block;} 
.facebook .text-box-right { width:100%;} 
.facebook .text-box-left { float:left;  margin:0 30px 0px 0; width:126px; }
.facebook .text-box-bottom img {float:left; margin-bottom:23px;}
.facebook .text-box-right p {color:#3D3F42; font-size:18px; font-weight:400; line-height:24px; }
.facebook .profile-img{border-radius: 50%;}
.facebook .signechar {float:left; width:100%; color:#646464; font-size:24px; cursive; font-weight:400; margin:0 0 30px 8px;text-align: center;} 
.facebook .facebook-comments {width:100%;display:block; }
.facebook .facebook-comments p {color:#4B4B4B; font-size:18px; font-weight:400; line-height:24px; margin:0 auto; } 
iframe #twitter-widget-0 { width: 55px;}
.fb-comments, .fb-comments iframe[style] {width: 100% !important;}

/*Video Styles*/
.top-content .video {
	float: left;
	padding: 40px 0px;
	position: relative;
}
.top-content .video #video-top-img {
	max-height: 38px;
}
.top-content .video img {
	max-width: 750px;
	width: 100%;
}
.video-play {
	margin-top: -5px;
	max-width: 750px;
	position: relative; 
	padding-bottom: 56.25%; 
	text-align: center; 
	height: 0; 
	overflow: hidden
}
.video-play iframe, .video-play object, .video-play embed { 
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
}
.video-arrow {
	color:#fdfcfc; 
	font-weight:700; 
	text-align:left; 
	line-height:22px; 
	width:86px; 
	padding-right:6px; 
	position: absolute;  
	right: -102px;  
	bottom: -107px;
}
.video-arrow p {
	margin:0px; 
	padding:0px;
}
.video-arrow .arrow-bg {
 	position: relative; 
 	top: -25px; 
 	right:5px; 
}

/*Mid Content Section*/
.mid-content {
	display: block;
	float: left;
	height: auto;
	width: 100%;
}
.mid-content .mid-content-wrapper {
	margin: 0 auto;
	max-width: 750px;
	padding: 40px 0px;
}
.mid-content #desc{
	margin: 0 auto;
	max-width: 90%;
	padding-bottom: 40px;
	text-align: center;
}

/*Download Section*/
.download-btn .optin-link {
	background: #ffcc01;
	color: #fcfcfc;
	cursor: pointer;
	display: block;
	font-size: 28px;
	font-weight: 700;
	line-height: 32px;
	margin: 0 auto;
	max-width: 90%;
	padding: 28px 15px;
	text-align: center;
	text-shadow: 0 2px 0 #e4b600;
}
.download-btn .optin-link:hover {
	background: #f1c207;
    -webkit-transition: background-color ease-in-out .2s;
    -moz-transition: background-color ease-in-out .2s;
    -o-transition: background-color ease-in-out .2s;
    transition: background-color ease-in-out .2s;
}

/*Security Section*/
.security {
	margin: 0 auto;
	max-width: 90%;
	padding: 16px 6px;
}
.guarantee p b, .checkout p b {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	text-align: left;
}
.security .guarantee, .security .checkout, .security .payment-options{
	display: inline-block;
}
.security .guarantee {
	width: 45%;
}
.security .guarantee img {
	float: left;
	margin-right: 12px;
	margin-bottom: 20px;
	max-height: 42px;
	max-width: 42px;
}
.security p {
	font-size: 13px;
	line-height: 19px;
}
.security .checkout {
	width: 23%;
	vertical-align: top;
}
.security .checkout img {
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	max-height: 42px;
	max-width: 42px;
}
.security .payment-options {
	vertical-align: top;
}
.payment-options img {
	max-width: 45px;
	max-height: 30px;
}

/*Facebook Section*/
.facebook {
	background: #f0f5f7;
	display: block;
	float: left;
	height: auto;
	margin: 0 auto;
	margin-top: -25px;
	min-height: 600px;
	overflow: auto;
	padding: 40px 0px;
	text-align: center;
	width: 100%;
}
.facebook h1 {
	color: #0880c5;
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	margin-top: 20px;
	padding-bottom: 21px;
}
.fb-comments {
	margin: 0 auto;
	height: 300px;
	max-width: 750px;
}

/*Bottom Content*/
.bottom-content {
	background: url('../img/bottom-grid.png') #1fa2ed no-repeat left bottom;
	background-size: 100%;
	display: block;
	float: left;
	height: 260px;
	width: 100%;
}
.bottom-content .bottom-content-wrapper {
	margin: 0 auto;
	max-width: 750px;
	padding: 40px 0px;
}
.bottom-content .security p {
	color: #fbfbfb;
}

/*Footer*/
footer {
	background: #2d2d2d;
	display: block;
	float: left;
	margin: 0 auto;
	padding: 40px 0px;
	text-align: center;
	width: 100%;
}
footer p {
	color: #b7b7b7;
	font-size: 16px;
}
footer a:link, footer a:visited {
	color: #b7b7b7;
	text-decoration: underline;
}
footer a:hover {
	color: #1ba6f6;
}
.social-media {
    text-align: center;
}
footer .socials {
	margin: 0 auto;
	padding-bottom: 10px;
	text-align: center;
}
footer .socials img {
	background: #606060;
	width: 60px;
}
footer .socials a:link {
	height: 55px;
	margin: 10px;
	padding: 3px 5px;
	display: inline-block;
}
footer .socials a:hover img {
	background: #24aaf7;
}
 







