@font-face {
    font-family: 'Segoe-UI-SemiBold';
    src: url('fonts/segoe-ui-semibold.eot');
    src: url('fonts/segoe-ui-semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/segoe-ui-semibold.woff') format('woff'),
         url('fonts/segoe-ui-semibold.ttf') format('truetype'),
         url('fonts/segoe-ui-semibold.svg#Segoe-UI-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo300';
    src: url('fonts/museo300-regular-webfont.eot');
    src: url('fonts/museo300-regular-webfont.eot?#iefix') format('eot'),
         url('fonts/museo300-regular-webfont.woff') format('woff'),
         url('fonts/museo300-regular-webfont.ttf') format('truetype'),
         url('fonts/museo300-regular-webfont.svg#webfontJA9Sojwh') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo500';
    src: url('fonts/museo500-regular-webfont.eot');
    src: url('fonts/museo500-regular-webfont.eot?#iefix') format('eot'),
         url('fonts/museo500-regular-webfont.woff') format('woff'),
         url('fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('fonts/museo500-regular-webfont.svg#webfontGF4BwnoR') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe-UI';
    src: url('fonts/segoe-ui.eot');
    src: url('fonts/segoe-ui.eot?#iefix') format('embedded-opentype'),
         url('fonts/segoe-ui.woff') format('woff'),
         url('fonts/segoe-ui.ttf') format('truetype'),
         url('fonts/segoe-ui.svg#Segoe-UI') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe-UI-Bold';
    src: url('fonts/segoe-ui-bold.eot');
    src: url('fonts/segoe-ui-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/segoe-ui-bold.woff') format('woff'),
         url('fonts/segoe-ui-bold.ttf') format('truetype'),
         url('fonts/segoe-ui-bold.svg#Segoe-UI-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 18px;
    line-height: 26px;
    font-family: 'Segoe-UI', Georgia, times, serif;
    color: #555555;
    background: #fff;
    min-width: 960px;
}
h2 {
	text-align: center;
	margin-bottom: 25px;
	font-family: 'Segoe-UI-SemiBold', Georgia, times, serif;
	font-size: 24px;
	color: #00a8ff;
}
p{
	margin: 20px;
	padding: 0;
	letter-spacing: 0px;
	font-family: 'Segoe-UI', Georgia, times, serif;
}

.shell{
	margin: 0 auto;
	padding: 0;
	width: 797px;
}

#header{
	margin: 0;
	padding: 0;
	height: 105px;
	background: #fff;
	border-bottom: #00A8FF 10px solid;
}

#header .shell{
	height: 105px;
}

#logo{
	float: left;
	margin: 25px 0 0 0;
	padding: 0;
	width: 233px;
	height: 52px;
}

.fb-like {float: left;}

.fb_edge_widget_with_comment {
    margin: 40px 0 0 10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	nav{
		clear: right;
		float: right;
		width: auto;
		margin-top: -20px;
	}
	.fb_edge_widget_with_comment {
		margin: 40px 0 0 10px;
	}
}

nav {
	float: right;
	display: inline;
	margin-top: 40px;
}
nav ul{
	float: left;
	display: inline;
	float: right;
	list-style: none;
}
nav li {
	float: left;
	display: inline;
	padding: 0 30px 0 0;
	list-style: none;
}

nav li a{
	text-decoration: none;
	color: #777777;
}

#main{
	margin: 0;
	padding: 0;
	background-color: #fbfbfb;
}

#headline{
	margin: 0;
	padding: 10px 0;
	font-family: 'Segoe-UI-SemiBold', Georgia, times, serif;
	font-size: 26px;
	text-align: center;
	letter-spacing: -1px;
	line-height: 30px;
	text-shadow: 3px 3px 2px #fff;
	/*filter: dropshadow(color=#fff, offx=1, offy=1);
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=0),
     progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=90),
     progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=180),
     progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=270);*/
}

#headline .style1{
	font-size: 36px; 
}

#headline strong {
	color: #00a8ff;
}

div.box1{
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	background-color: #fff;
	border: 1px solid #d8d8d8;
	padding: 10px;
	margin-bottom:50px;
	-webkit-box-shadow:  1px 2px 3px 0px #ccc;
    box-shadow:  1px 2px 3px 0px #ccc;
}
.box1 h1 {
	text-align: center;
	margin: 25px 0;
	font-family: 'Segoe-UI-SemiBold', Georgia, times, serif;
	font-size: 30px;
	color: #00a8ff;
}
div.box-faq{
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	background-color: #fff;
	border: 1px solid #d8d8d8;
	padding: 10px;
	margin-bottom:50px;
	-webkit-box-shadow:  1px 2px 3px 0px #ccc;
    box-shadow:  1px 2px 3px 0px #ccc;
}
#faqs .box-faq{
	margin-bottom: 20px;
	background: url(faq-arrow-up.png) center right no-repeat;
	padding-right: 50px;
	background-color: #fff;
	cursor: pointer;
}
#faqs .box-faq-down{
	margin-bottom: 20px;
	background: url(faq-arrow-down.png) center right no-repeat;
	padding-right: 50px;
	background-color: #fff;
	cursor: pointer;
}

div.video{
	margin: 30px auto;
	padding: 0;
	width: 564px;
	height: 317px;
}	

div.box1 ul{
	margin: 20px 0 0 25px;
}

div.box1 ul li{
	list-style-type: none;
	margin: 5px 0;
	padding-left: 20px;
	background: url(list-button.png) left center no-repeat;
	line-height: 20px;
}

a.order-button{
	width: 797px;
	height: 89px;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	line-height: 90px;
	color: #886a00;
	font-size: 36px;
	font-family: 'Museo500', Georgia, times, serif;
	background: #ffc600 url(btn-bg.png) repeat-x;
	text-decoration: none;
	border-radius: 4px;
}
div.order-guarantee{
	width: 797px;
	height: 150px;
	display: block;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
div.order-guarantee .element { display:inline-block; height: 90px; padding-top: 25px;}
div.order-guarantee .left { min-width: 295px; vertical-align: top;}
div.order-guarantee .middle { min-width: 215px; vertical-align: top;}
div.order-guarantee .right{ min-width: 275px; vertical-align: top;}
div.order-guarantee .element img {
	float: left;
	text-align: left;
	vertical-align: middle;

}
div.order-guarantee .element p{
	color: #a4a4a4;
	font-size: 16px;
	font-family: 'Segoe-UI', Georgia, times, serif;
	text-align: left;
	line-height: 32px;
}
div.order-guarantee .element strong{
	display: block;
	color: #999999;
	font-family: 'Segoe-UI-SemiBold', Georgia, times, serif;
	font-size: 34px;
}
blockquote{
	margin-left: 50px;
	border-left: 5px solid #d6d6d6;
	font-style: italic;
}

#guarantee{
	background: transparent url(bg-guarantee.png) 0 0 no-repeat;
	margin: 0;
	padding: 10px;
	padding-top:200px;
}
#guarantee p{
	font-family: 'Segoe-UI', Georgia, times, serif;
}
.question{
    margin: 0 0 0 20px;
	color: #000;
}

footer{
	border-top: 1px solid #f3f3f3;
}

footer p{
	font-size: 14px;
	text-align: center;
	font-family: 'Segoe-UI', Georgia, times, serif;
}

footer p a{
	color: #898989;
	text-decoration: underline;
}

/* popup */

.popup { width: 714px; height: 244px; text-align: center; overflow: hidden; background-color: #ffffff;}
.popup h1 { font-size: 24px; text-align: center; font-weight: normal; padding: 18px 90px; margin: 0 0 0 -7px; word-spacing: 1px; }
.row { width: 514px; margin: 0 auto; border:#00A8FF solid 8px; }
.row input { border: none; width: 496px; height: 37px; background: url(inp.jpg) repeat-x; border-left: solid 1px #cacaca; border-right: solid 1px #cacaca; margin: 0px auto; font-size: 18px; line-height: 26px; color: #595959; padding: 4px 8px 0 8px; }
.submit { text-align:center; border: none; cursor: pointer; margin: 14px auto 0 auto; display: block; padding-left: 12px; width: 257px; height: 61px; background:  #00A8FF url(submit-button.png) no-repeat 0 0 ; font-weight:bold;  font-size: 24px; letter-spacing: -1px;  color: #fff; text-shadow: 1px 1px 1px #20143d;}
/*.submit-img {margin: 14px auto 0 auto; text-indent: -9999px;}*/
.popup-container { display: none; cursor: pointer; border: none;}


/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
    #cboxContent{padding: 16px;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{background:#fff;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxLoadingGraphic{background:url(loading.gif) no-repeat center center;}
        #cboxClose{ background: url(ico-close.png); width: 36px; height: 36px; position: absolute; top: 0; right: 0; font-size: 0; line-height: 0; text-indent: -9999px; }

