@media all and (max-width: 850px) {
	header .logo{
		padding-top: 0px;
	}
	header .desc-wrapper {
		margin-left: 0px;
		max-width: 750px;
		min-width: 80%;
	}
	.top-content .icon {
		position: absolute;
		padding: 85px 0 0 0;
		z-index: 300;
	}
	.top-content .icons {
		float: none;
		height: auto;
		margin: auto;
		padding-top: 30px;
		position: relative;
		z-index: 300;
		width: 100%;
	}
	.top-content .icons ul li {
		display: inline-block;
		margin: 0px 2px;
		text-align: center;
	}
	.top-content .video {
		padding: 30px 0px 40px;
	}
	.video-arrow {
		display:none;
	}
	.top-content .video img {
		vertical-align: text-bottom; max-width:100%
	}
	.video-play img{
		width:100%;
	}
}
@media all and (max-width: 700px) {
	.top-content .icon {
		padding: 65px 0 0 0;
	}
	.security {
		width: 95%;
	}
	.checkout p b, .guarantee p b {
		font-size: 14px;
		line-height: 19px;
	}
	.security p {
		font-size: 11px;
		line-height: 15px;
	}
	.security .guarantee img{
		margin-right: 3px;
	}
	.security .guarantee, .security .checkout, .security .payment-options {
		display: inline-block;
		height: 50px;
	}
	.security .guarantee {
		width: 45%;
		vertical-align; top
	}
	.security .checkout {
		width: 25%;
		vertical-align: top;
	}
	.security .checkout img {
		margin-right: 0;
	}
	.security .payment-options img {
		max-width: 35px;
	}
}
@media all and (max-width: 600px) {
	.download-btn .optin-link{
		font-size: 22px;
	}
	.security .guarantee {
		width: 40%;
	}
	.security .payment-options {
		width: 20%;
		vertical-align: top;
	}
	.security .checkout {
		width: 27%;
		padding-right: 3%;
	}
}
@media all and (max-width: 500px) {
	header .header-wrapper {
		width: 90%;
	}
	.top-content {
		min-height: 650px;
		background-size: 250%;
	}
	.download-btn .optin-link {
		font-size: 18px;
		line-height: 22px;
	}
	.security .guarantee {
		width: 44%;
	}
	.bottom-content {
		background-size: 250%;
	}
}
@media all and (max-width: 450px) {
	.headline {
		font-size: 18px;
		line-height: 34px;
	}
	.header .num {
		font-size: 20px;
	}
	.security .guarantee {
		width: 42%;
	}
	.security .checkout {
		width: 30%;
	}
	.security .payment-options {
		width: 22%;
	}
	.guarantee p, .checkout p {
		font-size: 12px;
		line-height: 15px;
	}
	.security p {
		font-size: 11px;
		line-height: 13px;
	}
	footer .socials img {
		width: 40px;
	}
}
@media all and (max-width: 400px) {
	.top-content {
		background-size: 300%;
		min-height: 680px;
	}
	.top-content .icon {
		display: none;
	}
	.download-btn .optin-link {
		font-size: 15px;
		line-height: 18px;
		padding: 22px 15px;
	}
	.security .guarantee {
		width: 41%;
	}
	.security .guarantee img {
		margin-bottom: 60px;
	}
	.security .checkout {
		width: 39%;
	}
	.security .payment-options {
		width: 10%;
	}
	.security .payment-options img {
		max-width: 30px;
	}
	.bottom-content {
		background-size: 300%;
	}

}
@media all and (max-width: 350) {
	header {
		min-height: 220px;
	}
	.download-btn .optin-link {
		font-size: 14px;
		line-height: 17px;
	}
}



















