@font-face {
  font-family: 'font-icons';
  src: url('../fonts/font-icons.eot?96439180');
  src: url('../fonts/font-icons.eot?96439180#iefix') format('embedded-opentype'),
       url('../fonts/font-icons.woff?96439180') format('woff'),
       url('../fonts/font-icons.ttf?96439180') format('truetype'),
       url('../fonts/font-icons.svg?96439180#font-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'font-icons';
    src: url('../fonts/font-icons.svg?96439180#font-icons') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "font-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook-1:before { content: '\e800'; } /* '' */
.icon-gplus-1:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-twitter-1:before { content: '\e803'; } /* '' */