.castro, .diesel, .fox, .golf, .honigman, .renuar{
	background: url(sprites.png) no-repeat;
}

.castro{
	background-position: -398px -58px ;
	width: 220px;
	height: 34px;
}

.diesel{
	background-position: -313px -53px ;
	width: 72px;
	height: 41px;
}

.fox{
	background-position: -300px -4px ;
	width: 159px;
	height: 41px;
}

.golf{
	background-position: -190px -1px ;
	width: 102px;
	height: 41px;
}

.honigman{
	background-position: -2px -55px ;
	width: 305px;
	height: 37px;
}

.renuar{
	background-position: 0 0;
	width: 180px;
	height: 41px;
}

